block content
html(style='background-color: #a68ee3;')
  .container
    .row
      .col-md-8.col-md-offset-2
        .panel.panel-primary(style='background-color: #a68ee3;')
          .panel-heading
            h1.text-center(style='font-size: 40px; color: #fff;') Sign In
          .panel-body
            form.form-horizontal(role='form', action='/signin', method='post')
              .form-group
                label.col-sm-3.control-label(for='username', style='font-size: 30px; color: #fff;') Username:
                .col-sm-9
                  input.form-control.input-lg(type='text', id='username', name='username', placeholder='Enter your username', style='font-size: 30px;', required)
              .form-group
                label.col-sm-3.control-label(for='password', style='font-size: 30px; color: #fff;') Password:
                .col-sm-9
                  input.form-control.input-lg(type='password', id='password', name='password', placeholder='Enter your password', style='font-size: 30px;', required)
              .form-group
                .col-sm-offset-3.col-sm-9
                  button.btn.btn-primary.btn-lg.btn-block(type='submit', style='font-size: 30px;') Sign In
              .form-group
                .col-sm-9.col-sm-offset-3
                  a(href='#', style='font-size: 30px; color: #fff;') Forgot Password?
              .form-group
                .col-sm-offset-3.col-sm-9
                  p(style='font-size: 30px; color: #000000;') Don't have an account? 
                  a.btn.btn-link(href='/register', style='font-size: 30px; color: #fff;') Create an Account
